<div class="relative h-screen overflow-hidden">
  <img class="absolute inset-0 w-full h-full object-cover animate-zoom-in" src="/assets/images/sjsu_tower_bg.jpg" style="transform-origin: center;">
  <!-- Dark overlay -->
  <div class="absolute inset-0 bg-black opacity-20"></div>

  <!-- Navbar on top -->
  <app-navbar class="absolute top-0 left-0 w-full z-10"></app-navbar>

  <!-- Text on top of the image -->
  <div class="text-amber-50 absolute top-1/3 left-8 z-20">
    <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold mb-4">Welcome to SJSU MSA</h1>
    <p class="text-lg sm:text-xl lg:text-2xl">
      <a href="https://www.google.com/maps/place/SJSU/@37.3351916,-121.8836464,834m/data=!3m2!1e3!4b1!4m6!3m5!1s0x808fccb864de43d5:0x397ffe721937340e!8m2!3d37.3351874!4d-121.8810715!16zL20vMDIxOTk2?entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoASAFQAw%3D%3D" target="_blank" class="flex items-center">
      <mat-icon>location_on</mat-icon> One Washington Square, San Jose, CA
      </a>
    </p>
  </div>

  <!-- Salam Art Image -->
  <img src="../../assets/images/salam_art.png" alt="Salam Art" 
    class="absolute top-7/23 right-10 z-20 w-1/3 max-w-sm hidden sm:block" />
</div>
   
<!-- Section 1 -->
<section class="w-full py-16 bg-white text-gray-800 flex justify-center">
    <div class="max-w-4xl text-center">
      <!-- TODO add tool tip with information on how calculation was done -->
      <h2 class="text-3xl font-bold mb-10">Daily Prayer Info</h2>
      <div class="flex flex-row items-center justify-evenly space-x-10">
        <!-- prayer times table -->
        <div class="text-lg">
          <table class="w-full text-left table-auto min-w-max">
            <!-- column headers -->
            <thead>
              <tr>
                <th class="p-4 border-b border-slate-300 bg-slate-50">
                  <p class="pr-12 block font-normal leading-none text-slate-500">
                    Prayer
                  </p>
                </th>
                <th class="p-4 border-b border-slate-300 bg-slate-50">
                  <p class="block font-normal leading-none text-slate-500">
                    Adhan
                  </p>
                </th>
                <th class="p-4 border-b border-slate-300 bg-slate-50">
                  <p class="block font-normal leading-none text-slate-500">
                    Iqamah
                  </p>
                </th>
              </tr>
            </thead>
            <!-- row entries -->
            <tbody>
              <!-- Fajr -->
              <tr class="hover:bg-slate-50">
                <td class="border-b border-slate-200">
                  <div class="flex items-center">
                    <img src="/assets/images/fajr_icon.png" alt="fajr_icon"
                      class="relative inline-block h-8 w-8 !rounded-full object-contain object-center p-1" />
                    <p class="block font-sans antialiased font-bold leading-normal text-blue-gray-900">
                      Fajr
                    </p>
                  </div>
                </td>
                <td class="p-4 border-b border-slate-200">
                  <p class="block text-slate-800">
                    {{adhanTimes.fajr}}
                  </p>
                </td>
                <td class="p-4 border-b border-slate-200">
                  <p class="block text-slate-800">
                    {{iqamahTimes.fajr}}
                  </p>
                </td>
              </tr>

              <tr class="hover:bg-slate-50">
                <td class="border-b border-slate-200">
                  <div class="flex items-center">
                    <img src="/assets/images/dhuhr_icon.png" alt="dhuhr_icon"
                      class="relative inline-block h-8 w-8 !rounded-full object-contain object-center p-1" />
                    <p class="block font-sans antialiased font-bold leading-normal text-blue-gray-900">
                      Dhuhr
                    </p>
                  </div>
                </td>
                <td class="p-4 border-b border-slate-200">
                  <p class="block  text-slate-800">
                    {{adhanTimes.dhuhr}}
                  </p>
                </td>
                <td class="p-4 border-b border-slate-200">
                  <p class="block text-slate-800">
                    {{iqamahTimes.dhuhr}}
                  </p>
                  <p class="block text-slate-800">
                    {{iqamahTimes.dhuhr2}}
                  </p>
                </td>
              </tr>

              <tr class="hover:bg-slate-50">
                <td class="border-b border-slate-200">
                  <div class="flex items-center">
                    <img src="/assets/images/asr_icon.png" alt="asr_icon"
                      class="relative inline-block h-8 w-8 !rounded-full object-contain object-center p-1" />
                    <p class="block font-sans antialiased font-bold leading-normal text-blue-gray-900">
                      Asr
                    </p>
                  </div>
                </td>
                <td class="p-4 border-b border-slate-200">
                  <p class="block text-slate-800">
                    {{adhanTimes.shafiAsr}} (Shafi)
                  </p>
                  <p class="block text-slate-800">
                    {{adhanTimes.hanafiAsr}} (Hanafi)
                  </p>
                </td>
                <td class="p-4 border-b border-slate-200">
                  <p class="block text-slate-800">
                    {{iqamahTimes.shafiAsr}} (Shafi)
                  </p>
                  <p class="block text-slate-800">
                    {{iqamahTimes.hanafiAsr}} (Hanafi)
                  </p>
                </td>
              </tr>

              <tr class="hover:bg-slate-50">
                <td class="border-b border-slate-200">
                  <div class="flex items-center">
                    <img src="/assets/images/maghrib_icon.png" alt="maghrib_icon"
                      class="relative inline-block h-8 w-8 !rounded-full object-contain object-center p-1" />
                    <p class="block font-sans antialiased font-bold leading-normal text-blue-gray-900">
                      Maghrib
                    </p>
                  </div>
                </td>
                <td class="p-4 border-b border-slate-200">
                  <p class="block text-slate-800">
                    {{adhanTimes.maghrib}}
                  </p>
                </td>
                <td class="p-4 border-b border-slate-200">
                  <p class="block text-slate-800">
                    {{iqamahTimes.maghrib}}
                  </p>
                </td>
              </tr>

              <tr class="hover:bg-slate-50">
                <td class="">
                  <div class="flex items-center">
                    <img src="/assets/images/isha_icon.png" alt="isha_icon"
                      class="relative inline-block h-8 w-8 !rounded-full object-contain object-center p-1" />
                    <p class="block font-sans antialiased font-bold leading-normal text-blue-gray-900">
                      Isha
                    </p>
                  </div>
                </td>
                <td class="p-4">
                  <p class="block text-slate-800">
                    {{adhanTimes.isha}}
                  </p>
                </td>
                <td class="p-4">
                  <p class="block text-slate-800">
                    {{iqamahTimes.isha}}
                  </p>
                </td>
              </tr>

            </tbody>
          </table>
        </div>      
        <!-- vertical line to separate -->
        <div class="items-start border-l border-gray-300 h-64"></div>
        <!-- prayer location -->
        <div class="flex flex-col items-start text-left"> 
          <h2 class="text-2xl">Prayer Location</h2>
          <p class="text-left">Prayer space available in BBC 001 (Women's) & 002 (Men's)</p>
          <!-- TODO insert video -->
        </div>
      </div>
    </div>
</section>
  
<!-- Section 2 -->
<section class="w-full py-16 bg-gray-100 text-gray-800 flex justify-center">
    <div class="max-w-4xl text-center">
      <h2 class="text-3xl font-bold mb-4">Section 2</h2>
      <p class="text-lg">section for events</p>
    </div>
</section>
  
<!-- Section 3 -->
<section class="w-full py-16 bg-white text-gray-800 flex justify-center">
    <div class="max-w-4xl text-center">
      <h2 class="text-3xl font-bold mb-4">Section 3</h2>
      <p class="text-lg">section for resources (roommate spreadsheet?, student handbook, etc.)</p>
    </div>
</section>  

<app-footer class="w-full bottom-0 left-0"></app-footer>

<!-- todo add footer -->