<div>
    <h1>Readme</h1>
    <p>This page enumerates all the features on this site currently and where we are in the development timeline.</p>
    Milestones:
    <p>See <a href="https://github.com/FardinHaque60/sjsumsa/issues" target="_blank">github issues</a> for details on each feature</p>
    <ol>
        <!-- TODO add icons from angular icon library below -->
        <li>
            Basic Features. 
            <p>Approx. deploy date April 5th</p>
            <h4>Features</h4>
            <ul>
                <li>Homepage UI</li>
                <li>About, Programs, Events, Resources Pages</li>
                <li>Admin panel for managing events</li>
            </ul>
        </li>
        <br>
        <li>
            Reach Features. 
            <p>Approx. deploy date May 5th</p>
            <h4>Features</h4>
            <ul>
                <li>Handling events in house (email system, view registered users, etc.)</li>
                <li>Donation Handling</li>
            </ul>
        </li>
    </ol>
</div>
