<nav class="bg-blue-200 shadow-sm p-4 w-full">
    <div class="max-w-[70%] mx-auto flex justify-between items-center">
        <!-- Logo/Icon on the left -->
        <div class="flex items-center space-x-2">
        <img src="/assets/images/msa_logo1.png" alt="msa logo" class="h-20 w-20">
        </div>

        <!-- Navigation Links on the right -->
        <ul class="flex space-x-6">
        <li><a href="#" class="text-black hover:text-gray-900">Events</a></li>
        <li><a href="#" class="text-black hover:text-gray-900">Programs</a></li>
        <li><a href="#" class="text-black hover:text-gray-900">About</a></li>
        </ul>
    </div>
</nav>  